@font-face {
    font-family: 'josefin-regular';
    src: url('../font/JosefinSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'josefin-bold';
    src: url('../font/JosefinSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
/*********************************************/
body {
    width: 90%;
    margin: 0 auto;
    font-family: 'josefin-regular';
}

header {
    position: fixed;
    top: 0;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

header h1 {
    font-size: 20px;
    color: #293FC6;
    
}

header h2 {
    color: #293FC6;
    font-size: 20px;
}

header .bookmarque {
    position: absolute;
    width: 10px;
    height: 30px;
    top: 0;
    left: 40%;
    background-color: #293FC6;
}

header .call-to-action {
    position: fixed;
    top: 50px;
    display: flex;
}

header .call-to-action img {
    width: 15px;
    height: auto;
    transform: rotate(180deg);
    margin-right: 5px;
}

header .call-to-action p {
    color: #293FC6;
}

.separateur {
    position: fixed;
    top: 0;
    left: 45%;
    height: 100vh;
    width: 1px;
    background-color: black;
}

h3 {
    font-size: 16px;
    color: #293FC6;
    margin-top: 0;
}

span {
    color: #293FC6;
    font-size: 16px;
}

p {
    font-size: 16px;
    line-height: 26px;
}

button {
    background-color: white;
    color: #293FC6;
    border: 1px solid #293FC6;
    padding: 10px 20px;
    cursor: pointer;
}

.page {
    margin-top: 150px;
    display: flex;
}

.page-left {
    position: fixed;
    width: 35%;   
}

.page-left div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 30px;
}

.page-right {
    width: 50%;
    margin-left: 50%;
}

.page-right .projet{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-right .projet .projet-type {
    width: 30%;
    margin-bottom: 20px;
}

.page-right .projet .projet-type .projet-image {
    width: 100%;
    height: auto;
    border: 1px solid #293FC6;
}

.page-right .projet .projet-type a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.page-right .projet .projet-type a p {
    margin: 10px 0;
    color: #293FC6;
}

.page-right .projet .projet-type a img {
    width: 20px;
    height: auto;
}

.page-right .projet-type-open img {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
}

footer {
    position: fixed;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 36%;
    color: #293FC6;
}

footer div a:first-of-type{
    margin-right: 10px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-end;
    }

    header h1 {
        margin-top: 40px;
    }

    header h2 {
        margin-top: 0;
    }

    header .bookmarque {
        left: 96%;
    }

    header .call-to-action {
        top: 25px;
        left: 25px;
    }

    .separateur {
        display: none;
    }

    .page {
        flex-direction: column;
        margin-top: 150px;
    }

    .page-left {
        position: initial;
        width: 100%;
    }

    .page-right {
        width: 100%;
        margin: 50px 0 0 0;
    }

    .page-right .projet .projet-type {
        width: 45%;
    }

    .page-right .projet .projet-type a p {
        font-size: 14px;
    }

    footer {
        position: initial;
        width: 100%;
    }
}